@media screen and (max-width: 768px) {
    .Category_tag span {
        background: #d7b763;
        border-radius: 21px;
        border: 1px solid #d7b763;
        color: #520f0f;
        font-weight: bold;
        font-size: 15px;
        padding: 1px 16px 0px 29px;
        text-transform: uppercase;
    }    


    .Category_tag_modify span{

        background: #d7b763;
        border-radius: 21px;
        border: 1px solid #d7b763;
        color: #520f0f;
        font-weight: bold;
        font-size: 15px;
        padding: 1px 16px 0px 29px;
        text-transform: uppercase;
    }

    .link1 {
        
        border-radius: 43px;
        padding: 1px 16px;
        margin-top: 11px;
        color: #6a2d2d !important;
        text-transform: uppercase;
    }
    .Category_tag_modify_1 span {
        background: #d7b763;
        border-radius: 21px;
        border: 1px solid #d7b763;
        color: #520f0f;
        font-weight: bold;
        font-size: 10px;
        padding: 0px 16px 0px 10px !important;
        text-transform: uppercase;
        position: relative;
        bottom: -7px;
    }

    .headline_below_content {
        font-weight: normal;
        font-size: 23px;       
    }

    .fault_right_side_content {
        font-weight: bold;
        font-size: 35px;
        color: white;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .card_content {
        font-size: 18px;
        font-weight: normal;
        padding:0px;
    }
    .nav_list {
        font-size: 15px;
        font-weight: bold;
       
    }
    .state_bold_tags {
        font-size: 12px;
        font-weight: bold;
     
    }
    .card_content_res {
    font-size: 21px;
    font-weight: normal;
    line-height: 25px;
    }
    .side_content{
        font-size: 18px;
        font-weight: normal;
    }
}


@media only screen and (min-width: 1320px){
    .spilit_res_none{
        display: none;
    }    
    .d_none_mob1{
        display: none;
    }
    .state_hide_1{
        display: none;
    }
    .d_none_mob{
        display: none;
    }
    .card_car_none{
        display: none;
    }    
}
@media only screen and (max-width: 1320px) and (min-width: 1201px){
    
    .state_hide_1{
        display: none;
    }
        .d_none_mob{
            display: none;
        }
        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            min-height: 1px;
            padding: 0;
        }
        .round_img_star {
            position: absolute;
            top: 110px;
        }
        .logo_premium {
            height: 20px;
            position: absolute;
            top: 5px;
            left: 22px;
        }
        /* .list-unstyled{ 
            columns: 3;
          -webkit-columns: 3;
          -moz-columns: 3;
            }
            .list-unstyled li{
                display: inline-block;
                width: 100%;
            } */
        .card_car_none{
            display: none;
        }
        .spilit_res_none{
            display: none;
        }
        .d_none_mob1{
            display: none;
        }    
        .bg_y_f h5{
            padding: 20px 5px;
        }
        .eight_col_img_b {
            width: auto;
            height: 370px;
        }
        .img_size_re{
    
            width: 142px;
        height: auto;
        }
        .webstory_tab ul li:last-child{
            display: none;
        }
    
        .owl_left{
            top: -28px;
        }
        .owl_right{
    
            left: 2548%;
        position: relative;
        top: -29px;
        }
        .owl-right span {
            font-size: 43px;
            position: relative;
            top: -19px;
            opacity: 0.5;
        }
        .d_none_mob{
            display: none;
        }
        .btn-bold_bt {
            position: absolute;
            left: 19px;
            width: 153px;
            height: 24px;
            top: -27px;
            margin: 0px;
        }
    
}
@media only screen and (max-width: 1200px) and (min-width: 1191px){
    .state_hide_1{
        display: none;
    }
    .second_drop_menu:after, .third_drop_menu:after {
        display: none;
       }
       .dropdown-menu {
           position: absolute;
           top: 100%;
           left: -85px !important;
           z-index: 1000;
           display: none;
           float: right;
           min-width: 9.5rem;
           padding: 0.5rem 0;
           margin: 0.125rem 0 0;
           font-size: .875rem;
           color: #333;
           text-align: left;
           list-style: none;
           background-color: #fff;
           background-clip: padding-box;
           border: 1px solid rgba(0,0,0,.15);
           border-radius: 0.25rem;
           box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1);
       }
       .dropright .dropdown-menu {
           left: -155px !important;
       }
       a.d-flex.justify-content-between {
           justify-content: start !important;
         
       }
                .arrow {
                  border: 0.1px solid #58595b;
                  border-width: 0 1px 1px 0 !important;
                  display: inline-block;
                  padding: 4px;
                }
                
                .right {
                  transform: rotate(-45deg) !important;
                  -webkit-transform: rotate(-45deg) !important;
                }
                
                .left {
                  transform: rotate(135deg) !important;
                  -webkit-transform: rotate(135deg) !important;
                }


    .d_none_mob{
        display: none;
    }
    
     .nav_list {
    font-size: 14px;
}
     .second_drop_menu:after, .third_drop_menu:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 208px;
        margin-left: -30px;
        margin-top: -7px;
        width: 0;
        z-index: 1;
        height: 0;
        border-bottom: solid 9px transparent;
        border-right: 18px solid #fff;
        border-left: 4px solid transparent;
        border-top: 9px solid transparent;
        filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0;
    }
    .round_img_star {
        position: absolute;
        top: 110px;
    }
    .navbar_ul_parent .nav-link {
        color: #520F0F;
        font-size: 13px;
        padding: 2px 9px;
        font-family: 'Roboto-Bold';
        border-radius: 11px;
    }
    .spilit_none{
        display: none;
    }
    section.webstory-section.d_none {
        margin-top: 10px;
    }
    .webstory_tab ul li:last-child{
        display: none;
    }
    .webstory_tab ul li:first-child{
        display: none;
    }
    .opinion_grid h6 {
        color: #520f0f;
        font-size: 20px;
        margin-left: 18px;
        /* width: 63px; */
    }
    .eight_col_img_b {
        height: 207px;
        margin-bottom: 8px;
        overflow: hidden;
        width: 615px;
    }
    .card_carousel-none{
        display: none;
    }
    .owl-nav {
        display: none;
    }
    .list-unstyled{ 
        columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
        }
        .list-unstyled li{
            display: inline-block;
            width: 100%;
        }
        .navbar_ul_parent .nav-link {
            color: #520F0F;
            font-size: 13px;
            padding: 2px 9px;
            font-family: 'Roboto-Bold';
            border-radius: 11px;
        }

        .d1_none{
            display: none;
        }
.vertical_img_cont {
    width: auto;
     height: auto;
    overflow: hidden;
}    
.fault_right_side_content {
    font-family: 'Roboto-Bold';
    font-size: 31px;
    color: white;
    line-height: 45px;
}
  }

@media only screen and (max-width: 1190px) and (min-width: 1024px){
    .state_hide_1{
        display: none;
    }
    .second_drop_menu:after, .third_drop_menu:after {
        display: none;
       }
       .dropdown-menu {
           position: absolute;
           top: 100%;
           left: -160px;
           z-index: 1000;
           display: none;
           float: right;
           min-width: 12.5rem;
           padding: 0.5rem 0;
           margin: 0.125rem 0 0;
           font-size: .875rem;
           color: #333;
           text-align: left;
           list-style: none;
           background-color: #fff;
           background-clip: padding-box;
           border: 1px solid rgba(0,0,0,.15);
           border-radius: 0.25rem;
           box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1);
       }
       .dropright .dropdown-menu {
           left: -205px;
       }
       a.d-flex.justify-content-between {
        justify-content: start !important;
      
    }
                .arrow {
                  border: 0.1px solid #58595b;
                  border-width: 0 1px 1px 0 !important;
                  display: inline-block;
                  padding: 4px;
                }
                
                .right {
                  transform: rotate(-45deg) !important;
                  -webkit-transform: rotate(-45deg) !important;
                }
                
                .left {
                  transform: rotate(135deg) !important;
                  -webkit-transform: rotate(135deg) !important;
                }
             
                
     .d_none_mob{
        display: none;
     }
     .nav_list {
    font-size: 14px;
}
.list-unstyled{ 
        columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
        }
        .list-unstyled li{
            display: inline-block;
            width: 100%;
        }
     .second_drop_menu:after, .third_drop_menu:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 208px;
        margin-left: -30px;
        margin-top: -7px;
        width: 0;
        z-index: 1;
        height: 0;
        border-bottom: solid 9px transparent;
        border-right: 18px solid #fff;
        border-left: 4px solid transparent;
        border-top: 9px solid transparent;
        filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0;
    }
    .round_img_star {
        position: absolute;
        top: 110px;
    }
    .navbar_ul_parent .nav-link {
        color: #520F0F;
        font-size: 13px;
        padding: 2px 9px;
        font-family: 'Roboto-Bold';
        border-radius: 11px;
    }
    .spilit_none{
        display: none;
    }
    section.webstory-section.d_none {
        margin-top: 10px;
    }
    .webstory_tab ul li:last-child{
        display: none;
    }
    .webstory_tab ul li:first-child{
        display: none;
    }
    .opinion_grid h6 {
        color: #520f0f;
        font-size: 20px;
        margin-left: 18px;
        /* width: 63px; */
    }
    .eight_col_img_b {
        height: 207px;
        margin-bottom: 8px;
        overflow: hidden;
        width: 615px;
    }
    .card_carousel-none{
        display: none;
    }
    .owl-nav {
        display: none;
    }
    /* .list-unstyled{ 
        columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
        }
        .list-unstyled li{
            display: inline-block;
            width: 100%;
        } */
        .navbar_ul_parent .nav-link {
            color: #520F0F;
            font-size: 13px;
            padding: 2px 9px;
            font-family: 'Roboto-Bold';
            border-radius: 11px;
        }

        .d1_none{
            display: none;
        }
.vertical_img_cont {
    width: auto;
     height: auto;
    overflow: hidden;
}    
.fault_right_side_content {
    font-family: 'Roboto-Bold';
    font-size: 31px;
    color: white;
    line-height: 45px;
}    
}
@media only screen and (max-width: 1024px) and (min-width: 991px) {
    .state_hide_1{
        display: none;
    }
    .owl-right {
        position: relative;
        left: 919px;
        border-radius: 50%;
        width: 36px;
        height: 37px;
        border: none;
        opacity: 0.2;
        font-size: 20px;
    }
    .second_drop_menu:after, .third_drop_menu:after {
        display: none;
       }
       .dropdown-menu {
           position: absolute;
           top: 100%;
           left: -160px;
           z-index: 1000;
           display: none;
           float: right;
           min-width: 12.5rem;
           padding: 0.5rem 0;
           margin: 0.125rem 0 0;
           font-size: .875rem;
           color: #333;
           text-align: left;
           list-style: none;
           background-color: #fff;
           background-clip: padding-box;
           border: 1px solid rgba(0,0,0,.15);
           border-radius: 0.25rem;
           box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1);
       }
       .dropright .dropdown-menu {
           left: -205px;
       }
       a.d-flex.justify-content-between {
        justify-content: start !important;
      
    }
                .arrow {
                  border: 0.1px solid #58595b;
                  border-width: 0 1px 1px 0 !important;
                  display: inline-block;
                  padding: 4px;
                }
                
                .right {
                  transform: rotate(-45deg) !important;
                  -webkit-transform: rotate(-45deg) !important;
                }
                
                .left {
                  transform: rotate(135deg) !important;
                  -webkit-transform: rotate(135deg) !important;
                }
                

    .card_carousel .owl-nav button {
        position: absolute;
        top: -282%;
        height: 30px;
        width: 35px;
        border-radius: 50% !important;
        background: #4a4a4a !important;
    }
    .card_carousel .owl-prev {
        left: 53%;
    }
    .owl-nav {
        position: absolute;
        top: 108px !important;
    }
    
    
     .second_drop_menu:after, .third_drop_menu:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 208px;
        margin-left: -30px;
        margin-top: -7px;
        width: 0;
        z-index: 1;
        height: 0;
        border-bottom: solid 9px transparent;
        border-right: 18px solid #fff;
        border-left: 4px solid transparent;
        border-top: 9px solid transparent;
        filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
    }
    .icon_position{
        margin: 3px 20px 0 -11px;
    }
    
    .icon_position img{
        width: 27px;
    }
    .card_carousel-none{
        display: none;
    }
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0;
    }
    .round_img_star {
        position: absolute;
        top: 110px;
    }
    .faultline_img_cont {
        height: 401px;
        overflow: hidden;
        margin-bottom: 28px;
        width: 100%;
    }
    .page-container {
      width: 100%;
      padding: 0 15px;
    }
    .d1_none{
        display: none;
    }
    .card_car_none{
        display: block;
    }
    .spilit_res_none{
        display: none;
    }
        .spilit_none{
            display: none;

        }
        .list-unstyled{ 
            columns: 3;
          -webkit-columns: 3;
          -moz-columns: 3;
            }
            .list-unstyled li{
                display: inline-block;
                width: 100%;
            }
        .spilit_res_none{
            display: block;
            margin-bottom: 12px;
        }
        .webstory_tab ul li:first-child{
            display: none;
        }
        .eight_col_img_b {
            height: 268px;
            margin-bottom: 12px;
            overflow: hidden;
            width: 603px;
        }
        .d_none_mob{
            display: none;
        }
    }
@media only screen and (max-width: 990px) and (min-width: 769px) {
    
    .state_hide_1{
        display: none;
    }
    .second_drop_menu:after, .third_drop_menu:after {
        display: none;
       }
       .dropdown-menu {
           position: absolute;
           top: 100%;
           left: -160px;
           z-index: 1000;
           display: none;
           float: right;
           min-width: 12.5rem;
           padding: 0.5rem 0;
           margin: 0.125rem 0 0;
           font-size: .875rem;
           color: #333;
           text-align: left;
           list-style: none;
           background-color: #fff;
           background-clip: padding-box;
           border: 1px solid rgba(0,0,0,.15);
           border-radius: 0.25rem;
           box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1);
       }
       .dropright .dropdown-menu {
           left: -205px;
       }
                .arrow {
                  border: 0.1px solid #58595b;
                  border-width: 0 1px 1px 0 !important;
                  display: inline-block;
                  padding: 3px;
                }
                
                .right {
                  transform: rotate(-45deg) !important;
                  -webkit-transform: rotate(-45deg) !important;
                }
                
                .left {
                  transform: rotate(135deg) !important;
                  -webkit-transform: rotate(135deg) !important;
                }
                
    
    
    
    .d_none_mob{
        display: none;
    }
    .fault_right_side_content_1 {
        font-family: 'Roboto-Light';
        font-size: 18px;
        line-height: 23px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .faultline_img_cont {
        height: 412px;
        /* overflow: hidden; */
        margin-bottom: 20px;
        width: 100%;
    }
    .fault_right_side_content {
        font-family: 'Roboto-Bold';
        font-size: 18px;
        color: white;
        line-height: 27px;
    }
    .owl-theme .owl-dots, .owl-theme .owl-nav {
        text-align: center;
        -webkit-tap-highlight-color: transparent;
        display: none;
    }
    
    .icon_position{
        width: 74px;
        height: auto;
        margin-top: 17px;

    }
    
    [class*=" icon-"], [class^=icon-]{
        font-size: 2rem;
    }
    .icon_position img{
    width: 33px;
    height: auto;}
    .banner_img_cont {
        height: 331px;
        overflow: hidden;
    }
    .Category_tag span{
        padding: 2px 5px 1px 25px;
    }
    .img_15-start{
        top: -1px;
    }
    .top_nav_btn{

        width: 161px;
    margin-left: -58px;
    }
    .d1_none{
        display: none;
    }
    .spilit_none{
        display: none;
    }
    .list-unstyled{ 
    columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
    }
    .list-unstyled li{
        display: inline-block;
        width: 100%;
    }
    .flex-grow-1 h5 {
        top: -5px !important;
    }

    .flex_tab{
        width: 198px;
        position: absolute;
        top: 8px;
    }
    .bg-y-ff{
        position: absolute;
        width: 191px;
        top: 108px;
    }
    .webstory-section{
        margin-top: 20px;
    }
    .webstory_tab ul li:last-child{
        display: none;
    }
    .webstory_tab ul li:first-child{
        display: none;
    }
    .link1 {
        color: #c1baba;
        text-transform: uppercase;
        padding: 0.75rem 0.45rem;
        font-size: 14px;
    }

    .justify-content-between1 {
        -ms-flex-pack: justify!important;
        justify-content: inherit;
    }

    .round_img_star {
        position: absolute;
        top: 99px;
    }
    .vertical_img_cont img {
        min-width: 100%;
       min-height:100%; 
    }
    .opinion_grid {
        /* display: grid; */
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 0px;
    }
    .eight_col_img_b {
        height: auto;
        margin-bottom: 14px;
        overflow: hidden;
        width: auto;
    }
    .card_carousel-none{
        display: none;
    }
    .owl-nav {
        position: absolute !important;
        top: 101px !important;
    }
    .owl_right {
        position: absolute !important;
        left: 678px !important;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        background: 0 0;



        color: inherit;
        border: none;
        padding: 0 !important;
        font: inherit;
        position: absolute;
        left: 662px;
        top: -30px;
    }
}


/* Styles for screens narrower than 768px */
@media only screen and (max-width: 768px) and (min-width: 480px) {
    .federal_plalist {
        width: 100%;
        overflow: hidden;
    }
    .state_hide_1{
        display: none;
    }
    .second_drop_menu:after, .third_drop_menu:after {
     display: none;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: -85px !important;
        z-index: 1000;
        display: none;
        float: right;
        min-width: 9.5rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: .875rem;
        color: #333;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1);
    }
    .dropright .dropdown-menu {
        left: -155px !important;
    }
    a.d-flex.justify-content-between {
        justify-content: start !important;
      
    }
             .arrow {
               border: 0.1px solid #58595b;
               border-width: 0 1px 1px 0 !important;
               display: inline-block;
               padding: 4px;
             }
             
             .right {
               transform: rotate(-45deg) !important;
               -webkit-transform: rotate(-45deg) !important;
             }
             
             .left {
               transform: rotate(135deg) !important;
               -webkit-transform: rotate(135deg) !important;
             }
             
    
    
    
    .four_col_img_c { 
        /* height:280px ;  */
        overflow: hidden; position: relative;}
    
    .screen_nav{
        display: none;
    }
    
    .navigation-bar-section{
        display: none;
    }

    
    .container{
        width: 100%;
    }
    .spilit_res_none{
        display: none;
    }
   .screen_nav_1{
    position: relative;
    left: auto;
    top: 12px;
    }
    .vertical_img_cont img {
        min-width: 100%;
        /* min-height: 100%; */
    }
    .vertical_img_cont {
        width: 100%;
        height: auto; 
        overflow: hidden;
    }
    .four_col_img_c {
        /* height: 279px; */
     
    }
    /* .headline_yellow{
        display: none;
    } */
    .headline_below_content{
        font-weight: normal;
        margin-top: 20px;
    }
    .headline_below_content_1{
        display: none;
    }
    [class*=" icon-"], [class^=icon-] {
        font-family: icomoon!important;
        speak: none;
        color: #4a4a4a;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        min-width: 1em;
        display: inline-block;
        text-align: center;
        font-size: 2rem;
        vertical-align: middle;
        position: relative;
        top: -15px;
        -webkit-font-smoothing: antialiased;
        
    }
    .close_nav {
        display: none;
    }
    .card_content{
           font-size:18px;
           font-weight: normal;
           padding: 0px;

    }
    .time_ser{
        display: none;
    }
/* section 3 */
.bg_y_f {
    background:none;
}
.bg_y_f h5 {
    font-size: 19px;
    padding: 23px 5px;
    line-height: 1.1;
    font-family: 'Roboto-Medium';
    margin-top: 5px;
}
.h_89 img {
    height: 130px;
}
.side_content{
    font-size: 20px;
    top: 25px;
    font-family: 'Roboto-Light';
    color:#1E1E1E;
}
.side_img_star {
    width: 30px;
    top: 0px;
    position: absolute;
}

.spilt_cards .d-flex {
    margin-top: 1px;
    margin-bottom: 13px;
}
.eight_col_img_b {
    height: 403px;
    margin-bottom: 20px;
    overflow: hidden;
    width: auto;
}


.content_hide{
    display: none;
}
.hr_line{
    border: 1.5px solid #ddd;
    width: 537px;
}
  /* EIght_column_banner */
  .eight_column_position{
    padding-top: 32px;
  }
  .eightLogo {
    height: 45px;
    margin-top: -6px;
}
.logo_text {
    font-family: 'Roboto-Light';
    font-size: 30px;
    color: #D7B763;
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: -6px;  
    margin-bottom: 30px;  
}
.fault_right_side_content {
    font-family: 'Roboto-Bold';
    font-size: 47px;
    color: white;
    line-height: 62px;
    margin-bottom: 30px;
}
  /* Business Section */
  .business_section_card .side_content {
    font-size: 24px;
    font-family: 'Roboto-Medium';
   
    line-height: 33px;
}
.center_space{
    margin-top: 50px;
}
.fault_heading_color_1 {
    font-size: 35px;
    font-family: 'Roboto-Bold';
    color: #FC9F00;
    margin: 0px auto 0 0;
    text-transform: uppercase;
}
.fault_heading_color {
    
    font-family: 'Roboto-Bold';
    color: #FC9F00;
    margin: 0;
    text-transform: uppercase;
}
.nav_list {
    font-size: 18px;
    font-weight: bold;
    /* width: 100%; */
}
.tab_button_active{
    padding: 2px 4px;
}
.grid_states_items {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 7px;
    align-items: baseline;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}
.state_bold_tags_1 {
    font-size: 10px;
    font-family: 'Roboto-Bold';
    text-transform: capitalize;
}
ul .nav_list {
    margin-right: 2px;
}

/* opinion */

.responsive_opinion:hover{
    background-color:#ffff;
    border-radius: 20px;
  }
  .opinion_grid_1:hover img.img-fluid.rounded-circle.img-opacity{
    filter: grayscale(0%);
  }
  
  
  /* .opinion_img_cont:hove */
  .opinion_img_cont{
    display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .img-opacity:hover img{ 
    background-image: url("./assets/images/profile_3_color.png");  
  
  }
.col-md-4{
    width: 100% !important;
}
/* .d_none{
    display: none;
} */

/* webstory-section */
.slider_r {
    width: 518px;
    height: 100%;
    display: flex;
    overflow-x: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.slide_n {
    width: 46%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}


.slider_c{
    width: auto;
    height: auto;
    display: flex;
    overflow-x: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.slide_f{
    width: 46%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}

.slider_z{
    width: 518px;
    height: 100%;
    display: flex;
    overflow-x: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.slide_y{
    width: 46%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}
#slider_w{
    width: 518px;
    height: 60%;
    display: flex;
    overflow-x: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
#slider_x{
    width: 37%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}
#slide_y{
    width: 46%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}



.slider_M{
    width: 518px;
    height: auto;
    display: flex;
    overflow-x: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.slide_o{
    width: 46%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}


.mt_space{
    margin-top: 20px;
}

/* busness section */
.business_responsive{
  display: none;
}
.business_section_card {
    background-color: #fff;
    border: 0;
    border-radius: 17px;
    margin-top: -36px;
}
.business_section_hr{
    border:1px solid #b6b6b6;
    width:92%;
}

/* federal playlist section */
.gray_bg_title h1 {
    font-family: 'Roboto-Bold';
    color: #AFAFAF;
    font-size: 35px;
    text-transform: uppercase;
    margin-right: 99px;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: none;
}
.round_img_star {
    position: relative;
    top: 62px;
    left: -86px;
    /* display: none; */
}


/* footer section */
.mr-2, .mx-2 {
    margin-right: 1.625rem!important;
}
.footer_section {
    background-color: #1E1E1E;
    color: #e0d0d0;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Roboto-Light';
    margin-top: 20px;
}
.button_grp p{
    font-size:15px;
}
.left_ul ul{
    font-size: 23px;
    }
.left_ul ul li{
    padding-top: 20px;
}
.offset-1 {
    margin-left: 0;
}
.left_ul{
    margin-top: 20px;
}
.three-columns {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
  
  .three-columns li {
    display: inline-block;
    width: 100%;
  }
  .premium_img_cont {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.d_none{
    display: none;
}
.federal_logo_cont img {
    height: 42px;
}
[class*=" icon-"], [class^=icon-] {
   
    font-size: 2rem;
    
    top: -21px;
 
}


  }
  @media only screen and (max-width: 480px) and (min-width: 270px)  {
    .banner_img_cont img {
        min-width: 100%;
     
    }
    .tag_overlay_16 {
        position: absolute;
        bottom: 14px;
        left: 28px;
    }
    .banner_img_cont {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .second_drop_menu:after, .third_drop_menu:after {
        display: none;
       }
       .dropdown-menu {
        position: absolute;
        top: 100%;
        left: -112px;
        z-index: 1000;
        display: none;
        float: right;
        min-width: 8.5rem;
        padding: 0.5rem 0px;
        margin: 0.125rem 5px 0px;
        font-size: 0.875rem;
        color: #333;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1);
    }
    .dropright .dropdown-menu {
        left: -142px;
    }
    a.d-flex.justify-content-between {
        justify-content: start !important;
      
    }
                .arrow {
                  border: 0.1px solid #58595b;
                  border-width: 0 1px 1px 0 !important;
                  display: inline-block;
                  padding: 4px;
                }
                
                .right {
                  transform: rotate(-45deg) !important;
                  -webkit-transform: rotate(-45deg) !important;
                }
                
                .left {
                  transform: rotate(135deg) !important;
                  -webkit-transform: rotate(135deg) !important;
                }
             
                
    .headline_below_content {
        font-weight: normal;
        margin-top: 9px;
    }   
    .federal_logo_cont img {
        height: 24px;
    }
    .screen_nav{
        display: none;
    }
    .navigation-bar-section{
        display: none;
    }

    
    .container{
        width: 100%;
    }
    .spilit_res_none{
        display: none;
    }
    .screen_nav_1{
     position: absolute;
    left: 0px;
    top: 10px;
    }
    
    .headline_below_content{
        font-weight: normal;
        margin-top: 20px;
    }
    .headline_below_content_1{
        display: none;
    }
    [class*=" icon-"], [class^=icon-] {
        font-family: icomoon!important;
        speak: none;
        color: #4a4a4a;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        min-width: 1em;
        display: inline-block;
        text-align: center;
        font-size: 1.4rem;
        vertical-align: middle;
        position: relative;
        top: -10px;
        -webkit-font-smoothing: antialiased;
        
    }
    .headline_yellow {
        font-size: 26px;
        
    }
    .exp {
        height: 24px;
    }
    .Category_tag span {
        background: #d7b763;
    border-radius: 21px;
    border: 1px solid #d7b763;
    color: #520f0f;
    font-family: 'Roboto-Bold';
    font-size: 10px;
    padding: 3px 6px 1px 21px !important;
    text-transform: uppercase;
    }
    .img_15-start {
        position: absolute;
        top: 0px;
    }
    .img_size_re {
        width: 361px !important;
    }
    .vertical_img_cont img {
        min-width: 100%;
        min-height: auto;
    }
    .three_col_img_c img {
        height: 100%;
        width: 100%;
    }
    .close_nav {
        display: none;
    }
    .card_content{
           font-size:18px;
           font-weight: normal;
    }
    .time_ser{
        display: none;
    }
/* section 3 */
.bg_y_f {
    background:none;
}
.bg_y_f h5 {
    font-size: 23px;
    padding: 23px 5px;
    line-height: 1.1;
    font-family: 'Roboto-Medium';
    margin-top: -20px;
}
.h_89 img {
    width: 20vh;
    height: 17vh
}
.side_content{
    font-size: 18px;
    top: 0px;
    font-family: 'Roboto-Light';
    color: #1E1E1E;
}
.felx_Val h5 {
    /* position: relative; */
    top: -6px;
    position: absolute;
}
.side_img_star {
    width: 23px;
    top: -34px !important;
    position: absolute;
}
.side_img_star1 img {
    width: 19px;
    top: -28px;
    position: absolute;
}
.category_section{
    margin-top: -40px;
}
.img_15-start {
    position: absolute;
    top: -6px;
    left: -6px;
    width: 40px;
    height: 20px;
}
.three_col_img_c img {
    height: auto;
}
.side_img_star {
    width: 23px;
    top: 0px;
    position: absolute;
}

.spilt_cards .d-flex {
    margin-top: 1px;
    margin-bottom: 3px;
    display: flex !important;
    flex-direction: column;
}
.eight_col_img_b {
    height: 207px;
    margin-bottom: 20px;
    overflow: hidden;
    width: auto;
}
.h_89 img {
    height: 99px;
}

.content_hide{
    display: none;
}
.hr_line{
    border: 1.5px solid #ddd;
    width: 537px;
}
  /* EIght_column_banner */
  .eight_column_position{
    padding-top: 32px;
  }
  .eightLogo {
    height: 45px;
    margin-top: -6px;
}
.logo_text {
    font-family: 'Roboto-Light';
    font-size: 18px;
    color: #D7B763;
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 2px;  
    margin-bottom: 30px;  
}
.fault_right_side_content {
    font-family: 'Roboto-Bold';
    font-size: 28px;
    color: white;
    line-height: 38px;
    margin-bottom: 30px;
}
  /* Business Section */
  .business_section_card .side_content {
    font-size: 20px;
    font-family: 'Roboto-Medium';
   
    line-height: 25px;
}
.center_space{
    margin-top: 18px;
}

.fault_heading_color_1 {
    font-size: 30px;
    font-family: 'Roboto-Bold';
    color: #FC9F00;
    margin: 0px auto 0 0;
    text-transform: uppercase;
}
.fault_heading_color {
    font-size: 30px;
    font-family: 'Roboto-Bold';
    color: #FC9F00;
    margin: 0;
    text-transform: uppercase;
}
.fault_heading_color_2 {
    font-size: 25px;
    font-weight: bold;
    color: #FC9F00;
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: -5px;
}
.nav_list {
    font-size: 15px;
    font-weight: bold;
    /* width: 100%; */
}
.nav_list_1{
    font-size: 12px;
    font-weight: bold;
    /* width: 100%; */
}



.tab_button_active{
    padding: 0px 4px;
}
.tab_button_active {
    background: #520F0F 0% 0% no-repeat padding-box;
    border-radius: 43px;
    font-size: 10px;
    padding: 0px 4px;
    margin-top: 11px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-family: 'Roboto-Bold';
}
.states_explore{
    display: flex;
    list-style: none;
    position: relative;
    left: -22px;
}
ul .nav_list {
    margin-right: 4px;
}
.grid_states_items {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 7px;
    align-items: baseline;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}

/* opinion */

.responsive_opinion:hover{
    background-color:#ffff;
    border-radius: 20px;
  }
  .opinion_grid_1:hover img.img-fluid.rounded-circle.img-opacity{
    filter: grayscale(0%);
  }
  
  
  /* .opinion_img_cont:hove */
  .opinion_img_cont{
    display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .img-opacity:hover img{ 
    background-image: url("./assets/images/profile_3_color.png");  
  
  }
.col-md-4{
    width: 100% !important;
}
/* .d_none{
    display: none;
} */

/* webstory-section */
.slider_r {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    /* overflow-y: hidden;
    scroll-snap-type: x mandatory; */
}
.slide_n {
    /* width: 46%; */
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}


.slider_c{
    width: auto;
    height: auto;
    display: flex;
    overflow-x: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.slide_f{
    width: 46%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}

.slider_z{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.slide_y{
    width: 67%;
    flex-shrink: 0;
    height: auto;
    margin: 9px 9px 0 0;
}
#slider_w{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
}
#slider_x{
    width: 56%;
    flex-shrink: 0;
    height: auto;
    margin: 20px -35px 0 0;
}
#slide_y{
    width: 46%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}



.slider_M{
    width: 518px;
    height: auto;
    display: flex;
    overflow-x: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.slide_o{
    width: 77%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}


.mt_space{
    margin-top: 20px;
}

/* busness section */
.business_responsive{
  display: none;
}
.business_section_card {
    background-color: #fff;
    border: 0;
    border-radius: 17px;
}
.business_section_hr{
    border:1px solid #b6b6b6;
    width:92%;
    padding: 0px 0 0 0;
    margin: 0 0px 0px 10px;
}
.owl-nav{
    position: absolute;
    top: 153px !important;
}
.left_ul ul li {
    padding-top: 6px !important;
}
.owl-nav .owl-right{
    position: absolute;
    left: 320px;
    top: -14px;
}
/* .owl-left{
    position: absolute;
    top: -47px!important;
} */
.y_title {
    font-family: 'Roboto-Bold';
    font-size: 23px;}

/* federal playlist section */
.gray_bg_title h1 {
    font-family: 'Roboto-Bold';
    color: #AFAFAF;
    font-size: 28px;
    text-transform: uppercase;
    margin-right: 20px;
    margin-top: 9px;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: none;
}
.round_img_star {
    position: relative;
    top: 62px;
    left: -73px;
    /* display: none; */
}
.container{
    width: auto;
    overflow: auto;
}

/* footer section */
.mr-2, .mx-2 {
    margin-right: 1.625rem!important;
}
.footer_section {
    background-color: #1E1E1E;
    color: #e0d0d0;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Roboto-Light';
    margin-top: 20px;
}
.button_grp p{
    font-size:15px;
}
.left_ul ul{
    font-size: 18px;
    }
    .vertical_overlay_content h5 {
        font-family: 'Roboto-Bold';
        font-size: 23px;
        line-height: 28px;
        color: #fc9f00;
    }
    .vertical_overlay_content p {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 25px;
    }
    .vertical_img_cont img {
        min-width: 100%;
        /* min-height: 100%; */
    }
    .vertical_img_cont {
        width: 100%;
        height: auto; 
        overflow: hidden;
    }
.offset-1 {
    margin-left: 0;
}
.left_ul{
    margin-top: 20px;
}
.three-columns {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
  
  .three-columns li {
    display: inline-block;
    width: 100%;
  }
  .premium_img_cont {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.d_none{
    display: none;
}
/* .justify-content-end1{
justify-content: flex-start !important;
} */
.space_add{
    margin-top: -33px;

}
.owl-left {
    border-radius: 50%;
    width: 36px;
    border: none;
    opacity: 0.2;
    height: 37px;
    position: absolute;
    font-size: -16px;
    left: -12px;
    top: -14px;
}
.federal_plalist {
    width: 100%;
    overflow: none!important;
}
.slider_M{
    width: 100%;
    overflow: auto!important;
}

 .state_hide{
    display: none;
 }
 .nav-link {
    display: block;
    padding: 0.75rem 0.75rem;
}
.nav_position {
    position: relative;
    left: -6px;
}
.carousel_card h5 {
    font-family: 'Roboto-Bold';
    font-size: 25px;
    color: #f6f6f6;
    line-height: 29px;
    margin-top: 15px;
    margin-bottom: 8px;
}
}
  
@media only screen and (max-width: 269px){
    .owl-nav .owl-right {
        position: absolute;
        left: 253px;
        top: -14px;
    }
    .federal_plalist {
        width: 100%;
        overflow: hidden;
    }
    .state_hide_1{
        display: none;
    }
    
    .headline_below_content {
        font-weight: normal;
        margin-top: 9px;
    }   
    .federal_logo_cont img {
        height: 24px;
    }
    .screen_nav{
        display: none;
    }
    .navigation-bar-section{
        display: none;
    }

    
    .container{
        width: 100%;
    }
    .spilit_res_none{
        display: none;
    }
    .screen_nav_1{
     position: absolute;
    left: auto;
    top: 10px;
    }
    
    .headline_below_content{
        font-weight: normal;
        margin-top: 20px;
    }
    .headline_below_content_1{
        display: none;
    }
    [class*=" icon-"], [class^=icon-] {
        font-family: icomoon!important;
        speak: none;
        color: #4a4a4a;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        min-width: 1em;
        display: inline-block;
        text-align: center;
        font-size: 1.4rem;
        vertical-align: middle;
        position: relative;
        top: -10px;
        -webkit-font-smoothing: antialiased;
        
    }
    .headline_yellow {
        font-size: 26px;
        
    }
    .exp {
        height: 24px;
    }
    .Category_tag span {
        background: #d7b763;
        border-radius: 21px;
        border: 1px solid #d7b763;
        color: #520f0f;
        font-family: 'Roboto-Bold';
        font-size: 7px;
        padding: 5px 10px 2px 21px !important;
        text-transform: uppercase;
    }
    .img_15-start {
        position: absolute;
        top: 0px;
    }
    .img_size_re {
        width: 361px !important;
    }
    .vertical_img_cont img {
        min-width: 100%;
        min-height: auto;
    }
    .three_col_img_c img {
        height: 100%;
        width: 100%;
    }
    .close_nav {
        display: none;
    }
    .card_content{
           font-size:19px;
           font-weight: normal;
    }
    .time_ser{
        display: none;
    }
/* section 3 */
.bg_y_f {
    background:none;
}
.bg_y_f h5 {
    font-size: 23px;
    padding: 23px 5px;
    line-height: 1.1;
    font-family: 'Roboto-Medium';
    margin-top: -20px;
}
.h_89 img {
    height: 95px;
}
.side_content{
    font-size: 18px;
    top: 0px;
    font-family: 'Roboto-Light';
    color: #1E1E1E;
}
.three_col_img_c img {
    height: auto;
}
.side_img_star {
    width: 30px;
    top: 0px;
    position: absolute;
}

.spilt_cards .d-flex {
    margin-top: 1px;
    margin-bottom: 3px;
    display: flex !important;
    flex-direction: column;
}
.eight_col_img_b {
    height: 207px;
    margin-bottom: 20px;
    overflow: hidden;
    width: auto;
}
.h_89 img {
    height: 99px;
}

.content_hide{
    display: none;
}
.hr_line{
    border: 1.5px solid #ddd;
    width: 537px;
}
  /* EIght_column_banner */
  .eight_column_position{
    padding-top: 32px;
  }
  .eightLogo {
    height: 45px;
    margin-top: -6px;
}
.logo_text {
    font-family: 'Roboto-Light';
    font-size: 18px;
    color: #D7B763;
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 2px;  
    margin-bottom: 30px;  
}
.fault_right_side_content {
    font-family: 'Roboto-Bold';
    font-size: 28px;
    color: white;
    line-height: 38px;
    margin-bottom: 30px;
}
  /* Business Section */
  .business_section_card .side_content {
    font-size: 20px;
    font-family: 'Roboto-Medium';
   
    line-height: 25px;
}
.center_space{
    margin-top: 18px;
}

.fault_heading_color_1 {
    font-size: 30px;
    font-family: 'Roboto-Bold';
    color: #FC9F00;
    margin: 0px auto 0 0;
    text-transform: uppercase;
}
.fault_heading_color {
    font-size: 30px;
    font-family: 'Roboto-Bold';
    color: #FC9F00;
    margin: 0;
    text-transform: uppercase;
}
.nav_list {
    font-size: 18px;
    font-weight: bold;
    /* width: 100%; */
}
.tab_button_active{
    padding: 1px 10px;
}
.grid_states_items {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 7px;
    align-items: baseline;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}

/* opinion */

.responsive_opinion:hover{
    background-color:#ffff;
    border-radius: 20px;
  }
  .opinion_grid_1:hover img.img-fluid.rounded-circle.img-opacity{
    filter: grayscale(0%);
  }
  
  
  /* .opinion_img_cont:hove */
  .opinion_img_cont{
    display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .img-opacity:hover img{ 
    background-image: url("./assets/images/profile_3_color.png");  
  
  }
.col-md-4{
    width: 100% !important;
}
/* .d_none{
    display: none;
} */

/* webstory-section */
.slider_r {
    width: 518px;
    height: 60%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.slide_n {
    width: 46%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}


.slider_c{
    width: auto;
    height: auto;
    display: flex;
    overflow-x: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.slide_f{
    width: 46%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}

.slider_z{
    width: 518px;
    height: 60%;
    display: flex;
    overflow-x: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.slide_y{
    width: 46%;
    flex-shrink: 0;
    height: auto;
    margin: 9px 9px 0 0;
}
#slider_w{
    width: 518px;
    height: 60%;
    display: flex;
    overflow-x: none;
    /* overflow-y: hidden; */
    scroll-snap-type: x mandatory;
}
#slider_x{
    width: 37%;
    flex-shrink: 0;
    height: auto;
    margin: 20px -35px 0 0;
}
#slide_y{
    width: 46%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}



.slider_M{
    width: 518px;
    height: auto;
    display: flex;
    overflow-x: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.slide_o{
    width: 46%;
    flex-shrink: 0;
    height: auto;
    margin: 20px 9px 0 0;
}


.mt_space{
    margin-top: 20px;
}

/* busness section */
.business_responsive{
  display: none;
}
.business_section_card {
    background-color: #fff;
    border: 0;
    border-radius: 17px;
}
.business_section_hr{
    border:1px solid #b6b6b6;
    width:92%;
    padding: 0px 0 0 0;
    margin: 0 0px 0px 10px;
}
.owl-nav{
    position: absolute;
    top: 125px !important;
}
.left_ul ul li {
    padding-top: 6px !important;
}
.owl-left {
    border-radius: 50%;
    width: 36px;
    border: none;
    opacity: 0.2;
    height: 37px;
    position: absolute;
    font-size: -16px;
    left: -10px;
    top: 36px;
}
.owl-nav .owl-right{
    position: absolute;
    right: auto !important;
}
.y_title {
    font-family: 'Roboto-Bold';
    font-size: 23px;}

/* federal playlist section */
.gray_bg_title h1 {
    font-family: 'Roboto-Bold';
    color: #AFAFAF;
    font-size: 28px;
    text-transform: uppercase;
    margin-right: 20px;
    margin-top: 9px;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: none;
}
.round_img_star {
    position: relative;
    top: 62px;
    left: -86px;
    /* display: none; */
}


/* footer section */
.mr-2, .mx-2 {
    margin-right: 1.625rem!important;
}
.footer_section {
    background-color: #1E1E1E;
    color: #e0d0d0;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Roboto-Light';
    margin-top: 20px;
}
.button_grp p{
    font-size:15px;
}
.left_ul ul{
    font-size: 18px;
    }
    .vertical_overlay_content h5 {
        font-family: 'Roboto-Bold';
        font-size: 23px;
        line-height: 28px;
        color: #fc9f00;
    }
    .vertical_overlay_content p {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 25px;
    }
    .vertical_img_cont img {
        min-width: 100%;
        /* min-height: 100%; */
    }
    .vertical_img_cont {
        width: 100%;
        height: auto; 
        overflow: hidden;
    }
.offset-1 {
    margin-left: 0;
}
.left_ul{
    margin-top: 20px;
}
.three-columns {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
  
  .three-columns li {
    display: inline-block;
    width: 100%;
  }
  .premium_img_cont {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.d_none{
    display: none;
}
/* .justify-content-end1{
justify-content: flex-start !important;
} */
.space_add{
    margin-top: -33px;
}
.Category_tag_modify span{
 background: #d7b763;
border-radius: 21px;
border: 1px solid #d7b763;
color: #520f0f;
font-family: 'Roboto-Bold';
font-size: 10px;
padding: 3px 6px 1px 10px !important;
text-transform: uppercase;
}
  


}
@media only screen and (max-width: 479px) and (min-width: 270px) {
    .four_col_img_c {
        /* height: 214px; */
        overflow: hidden;
        position: relative;
    }
    .Category_tag_modify_1 span {
        background: #d7b763;
        border-radius: 21px;
        border: 1px solid #d7b763;
        color: #520f0f;
        font-weight: bold;
        font-size: 10px;
        padding: 0px 16px 0px 10px !important;
        text-transform: uppercase;
        position: relative;
        bottom: -7px;
    }
    .Category_tag_modify span{
        background: #d7b763;
       border-radius: 21px;
       border: 1px solid #d7b763;
       color: #520f0f;
       font-weight: bold;
       font-size: 15px;
       padding: 3px 6px 1px 10px !important;
       text-transform: uppercase;
       }
    .footer_para{
        font-size: 13px !important;
        line-height: 1.8 !important;
      }

    
}
@media only screen and (max-width: 575px) and (min-width: 481px){
 .federal_logo_cont{
    position: absolute;
 }
  .federal_plalist{
    width:100%;
    overflow: none;
  }
}
@media only screen and (max-width: 575px){
    .class {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .class::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}


@media only screen and (max-width: 351px) and (min-width: 270px){
.tab_button_active {
    background: #520F0F 0% 0% no-repeat padding-box;
    border-radius: 43px;
    font-size: 9px;
    padding: 0px 4px;
    margin-top: 11px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-family: 'Roboto-Bold';
}
.owl-nav .owl-right {
    position: absolute;
    left: 291px;
    top: -14px;
}
}
