
/* Responsive */

@media (min-width: 1200px) {
  
}


@media (min-width: 992px) and (max-width: 1199px) {
  .tag_overlay_baner_top {
    position: absolute;
    bottom: 306px;
    left: 224px;
    width: 100%;
}
.main_img_side {
  width: 510px;
  height: 358px;
  position: absolute;
}
.tag_overlay_top {
  position: absolute;
  bottom: 126px;
  left: 33px;
  width: 87%;
}
.flex-shrink-1 {
  position: relative;
  top: -36px;
  left: 10px;
  width: 31%;
}
.sub_img {
  position: absolute;
  top: 51px;
  left: 49px;
}
.side_img {
  height: 811px;
}
.side_img_overlay {
  position: absolute;
  top: 100px;
  left: 260px;
  width: 186px;
  height: auto;
}
.side_img_btn {
  position: absolute;
  bottom: 31px;
  left: 179px;
  float: right;
  width: 285px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .tag_overlay_baner_top {
    position: absolute;
    bottom: 456px;
    left: 140px;
    width: 100%;
}
.main_img_side {
  width: 284px;
  height: 505px;
  position: relative;
}
.tag_overlay_top {
  position: absolute;
  bottom: 126px;
  left: 313px;
  width: 100%;
}
.title-align {
  position: relative;
  left: 27px;
}
.flex-shrink-1 {
  position: relative;
  top: -26px;
  left: 10px;
  width: 28%;
}
.text2 {
  margin-bottom: 100px;
}
.side_img_overlay {
  position: absolute;
  top: 20px;
  left: 200px;
  width: 112px;
  height: auto;
}
.side_img_overlay span i {
  font-size: 65px;
  position: absolute;
  left: -66px;
  top: -33px;
  color: lightgrey;
}
.title-align p {
  color: #520F0F;
  font-size: 11px;
}
.text2 {
  margin-bottom: 99px;
}
.side_img_btn {
  position: absolute;
    bottom: 31px;
    left: 38px;
    float: right;
    width: 285px;
}
.side_img {
  height: 817px;
}
}

@media (max-width: 767px){
  .main_img_side {
    width: auto;
    height: 301px;
    position: relative;
}
.rounde_img {
  width: 257px;
  height: 196px;
  position: relative;
  margin-top: 121px;
  left: 9px;
}
.tag_overlay_baner_top {
  position: absolute;
    bottom: 250px;
    left: 185px;
    width: 100%;
}

.tag_overlay_top {
    position: absolute;
    bottom: 126px;
    left: 180px;
    width: 100%;
}
.title-align {
  position: absolute;
  left: 167px;
}
.card-text:last-child {
  margin-bottom: 0;
  padding-left: 20px;
}
.text2 {
  margin-bottom: 0;
}
.side_img_overlay p {
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  font-family: Roboto, 'Roboto-Bold';
  color: #4A4A4A;
  opacity: 1;
}
.sub_img {
  position: absolute;
  top: 115px;
  left: 116px;
}
.row.mb-10 {
  margin-bottom: 10px;
}
.side_img_overlay {
  position: absolute;
  top: 121px;
  left: 232px;
  width: 133px;
  height: auto;
}
.side_img_overlay span i {
  font-size: 61px;
  position: absolute;
  left: -66px;
  top: -33px;
  color: lightgrey;
}
.side_img_btn {
  position: relative;
    bottom: 67px;
    left: -2px;
    float: right;
    width: auto;
}
.nav_list {
  font-size: 12px;
}
.btn_text {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Roboto-Bold';
}
.rounded_side_content{
  font-size: 27px;

}
}
